.contact-list {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
}
/*.form-container{*/
/*    text-align: left;*/
/*    padding: 50px;*/
/*    border: 1px solid #ddd;*/
/*    border-radius: 8px;*/
/*    background-color: #ffffff;*/
/*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
/*    max-width: 600px;*/
/*}*/
/*display: flex, justify-content: center i align-items: center*/